/*chat page*/
body, html {
    font-family: 'Raleway';
}
.chat {
    position: relative;
    /* border: 3px solid #ffffff; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #f8f7fc;
    margin: 0 !important;
    padding: 20px;
    /*overflow: hidden;*/
}

.header {
    border-bottom: 2px solid #ececf5;
    height: 40px;
    background-color: white;
}

.chat .chat-sidebar {
    position: static;
    padding: 0;
    height: 100vh;
    float: left;
    overflow-y: scroll;
}

.chat-sidebar::-webkit-scrollbar,
.tabPanel-widget .tab-content::-webkit-scrollbar, .new-invoice .scrollable-content::-webkit-scrollbar,
.chat-body::-webkit-scrollbar, .orders::-webkit-scrollbar, .documents::-webkit-scrollbar {
    width: 5px;

}

.chat-sidebar::-webkit-scrollbar-track,
.tabPanel-widget .tab-content::-webkit-scrollbar-track, .new-invoice .scrollable-content::-webkit-scrollbar-track,
.chat-body::-webkit-scrollbar-track, .orders::-webkit-scrollbar-track, .documents::-webkit-scrollbar-track {
    background: #F2F5F8;
}

.chat-sidebar::-webkit-scrollbar-thumb,
.tabPanel-widget .tab-content::-webkit-scrollbar-thumb, .new-invoice .scrollable-content::-webkit-scrollbar-track,
.chat-body::-webkit-scrollbar-thumb, .orders::-webkit-scrollbar-thumb, .documents::-webkit-scrollbar-thumb {
    background: #E1E1EA;
    border-radius: 22px;
}

.chat-infoBar {
    padding: 0;
    /*height: 100%;*/
    float: right;
    z-index: 11;
}

.contacts li>.info-combo {
    margin-top: 5px;
    width: 100%;
    flex: 1;
    padding-left: 10px;
}

.contacts li {
    display: flex;
    justify-content: space-between;
}

.contacts li>.info-combo>h3.name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: auto;
    color: #414253;
}

.contacts li .message-time {
    text-align: right;
    display: block;
    margin-left: -15px;
    width: 70px;
    height: 25px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    padding-right: 5px;
}

.contacts li .userType {
    /*position: absolute;*/
    /*top: 50px;*/
    /*right: 20px;*/
    /*height: 26px;*/
    line-height: 20px;
    font-size: 10px;
}

.contacts li>.info-combo>h5 {
    width: 180px;
    font-size: 12px;
    height: 28px;
    font-weight: 500;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.contacts li>.info-combo>h3 {
    width: 167px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.info-combo>h3 {
margin: 3px 0;
}

.info-combo>h5 {
margin: 2px 0 6px 0;
}

/* Messages */
.messages-panel img.img-circle {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-image {
    width: 55px;
    height: 55px;
    margin: 0px 5px 0 10px;
    border-radius: 50%;
}

.profile-info {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid #E1E1EA;
    padding: 4px;
    background: #ffffff;
}

.info-chat li>.info-combo.info-profile {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.messages-panel {
    width: 100%;
    height: calc(100vh - 150px);
    min-height: 460px;
    background-color: #fbfcff;
    display: inline-block;
    border-top-left-radius: 5px;
    margin-bottom: 0;
}

.messages-panel img.img-circle {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.messages-panel .tab-content {
    border: none;
    background-color: transparent;
}

.contacts-list {
    background-color: #fff;
    border-right: 1px solid #cfdbe2;
    width: 305px;
    height: 100%;
    border-top-left-radius: 5px;
    float: left;
}

.contacts-list .inbox-categories {
    width: 100%;
    padding: 0;
    margin-left: 0;
}

.contacts-list .inbox-categories>div {
    float: left;
    width: 76px;
    padding: 15px 5px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    font-weight: 700;
}

.contacts-list .inbox-categories>div:nth-child(1) {
    color: #2da9e9;
    border-right-color: rgba(45, 129, 233, 0.06);
    border-bottom: 4px solid #2da9e9;
    border-top-left-radius: 5px;
}

.contacts-list .inbox-categories>div:nth-child(1).active {
    color: #fff;
    background-color: #2da9e9;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(2) {
    color: #0ec8a2;
    border-right-color: rgba(14, 200, 162, 0.06);
    border-bottom: 4px solid #0ec8a2;
}

.contacts-list .inbox-categories>div:nth-child(2).active {
    color: #fff;
    background-color: #0ec8a2;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(3) {
    color: #ff9e2a;
    border-right-color: rgba(255, 152, 14, 0.06);
    border-bottom: 4px solid #ff9e2a;
}

.contacts-list .inbox-categories>div:nth-child(3).active {
    color: #fff;
    background-color: #ff9e2a;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(4) {
    color: #314557;
    border-bottom: 4px solid #314557;
    border-right-color: transparent;
}

.contacts-list .inbox-categories>div:nth-child(4).active {
    color: #fff;
    background-color: #314557;
    border-bottom: 4px solid rgba(0, 0, 0, 0.35);
}

.contacts-list .panel-search>input {
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.contacts-outter-wrapper {
    position: relative;
    width: 305px;
    direction: rtl;
    min-height: 405px;
    overflow: hidden;
}

.contacts-outter-wrapper:after,
.contacts-outter-wrapper:nth-child(1):after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    background-color: #2da9e9;
    border-bottom-left-radius: 4px;
}

.contacts-outter-wrapper:nth-child(2):after {
    background-color: #0ec8a2;
}

.contacts-outter-wrapper:nth-child(3):after {
    background-color: #ff9e2a;
}

.contacts-outter-wrapper:nth-child(4):after {
    background-color: #314557;
}

.contacts-outter {
    position: relative;
    height: calc(100vh - 278px);
    width: 325px;
    direction: rtl;
    overflow-y: scroll;
    padding-left: 20px;
}

.contacts,
.info-chat {
    direction: ltr;
    margin-top: 0px;
}

.contacts li {
    width: 100%;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

.info-chat li {
    width: 100%;
    border-top: 1px solid transparent;
    border-left: 4px solid rgba(255, 255, 255, 0);
    padding: 8px 0 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.contacts li:hover {
    background-color: #eeeef6;
}

.contacts li.active,
.contacts.info li.active {
    background-color: #ECECF5;
    border-radius: 14px;
}


.contacts li > .info-combo > h3  {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    color: #292C49;
    font-size: 25px;
}

.info-chat li > .info-combo > h3 {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    color: #292C49;
    font-size: 20px;
    padding: 8px 0;
}

.contacts li .contacts-add {
    /*width: 50px;*/
    float: right;
    z-index: 23299;
}

.contacts li .message-time {
    text-align: right;
    display: block;
    margin-left: -15px;
    width: auto;
    height: 25px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    padding-right: 5px;
    color: #a6a6a6;
}

.contacts-item, .contacts-item:hover {
    color: black;
}

.contacts li > .info-combo > h5, .info-chat li > .info-combo > h5 {
    width: 180px;
    font-size: 13px;
    height: 16px;
    font-weight: 500;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    color: #292C49;
}

.contacts li > .info-combo > h5, .info-chat li > .info-combo > h5 span {
    font-size: 13px;
    height: 16px;
    font-weight: 600;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    color: #a6a6a6;
    padding-right: 20px;
}

.contacts li .message-count {
    position: absolute;
    top: 45px;
    right: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #aea3f5;
    border-radius: 50%;
    font-weight: 600;
    font-size: 10px;
    color: white;
}

.message-body {
    background-color: #fbfcff;
    height: 100%;
    width: calc(100% - 305px);
    float: right;
}

.message-body .message-top {
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: 53px;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid rgba(205, 211, 237, 0.5);
}

.message-body .message-top .new-message-wrapper {
    width: 100%;
}

.message-body .message-top .new-message-wrapper>.form-group {
    width: 100%;
    padding: 10px 10px 0 10px;
    height: 50px;
}

.message-body .message-top .new-message-wrapper .form-group .form-control {
    width: calc(100% - 50px);
    float: left;
}

.message-body .message-top .new-message-wrapper .form-group a {
    width: 40px;
    padding: 6px 6px 6px 6px;
    text-align: center;
    display: block;
    float: right;
    margin: 0;
}

.message-body .message-top>.btn {
    height: 53px;
    line-height: 53px;
    padding: 0 20px;
    float: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    font-size: 15px;
    opacity: 0.9;
}

.message-body .message-top>.btn:hover,
.message-body .message-top>.btn:focus,
.message-body .message-top>.btn.active {
    opacity: 1;
}

.message-body .message-top>.btn>i {
    margin-right: 5px;
    font-size: 18px;
}

.new-message-wrapper {
    position: absolute;
    max-height: 400px;
    top: 53px;
    background-color: #fff;
    z-index: 105;
    padding: 20px 15px 30px 15px;
    border-bottom: 1px solid #cfdbe2;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    display: none;
}

.new-message-wrapper.closed {
    opacity: 0;
    max-height: 0;
}

.chat-footer.new-message-textarea {
    display: block;
    position: relative;
    padding: 0 10px;
}

.chat-footer.new-message-textarea .send-message-button {
    right: 35px;
}

.chat-footer.new-message-textarea .upload-file {
    right: 85px;
}

.chat-footer.new-message-textarea .send-message-text {
    padding-right: 100px;
    height: 90px;
}

.message-chat {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.message-chat .chat-header {
    width: 50%;
    height: 55px;
    background-color: #f0f0f0;
    top: 0;
    position: fixed;
    z-index: 1;
}

.message-chat .chat-header .user-name {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
}

.message-chat .chat-header .user-lastSeen {
    font-size: 13px;
    margin-left: 20px;
    font-weight: 100;
}

.chat-body {
    height: calc(100% - 86px);
    /* width: calc(100% + 17px);
    min-height: 680px;
    height: calc(100vh - 320px); */
    padding: 5px 10px 10px 5px;
    overflow-y: scroll;
}

.message {
    position: relative;
    width: 100%;
}

.message br {
    clear: both;
}

.message .message-body {
    position: relative;
    width: auto;
    max-width: calc(100% - 150px);
    float: left;
    margin: -13px 5px 20px 15px;
    color: #ffffff;
    background-color: #9b8df2;
}


.message .medium-image {
    float: left;
    margin-left: 10px;
}

.message .message-info {
    width: 100%;
    height: 22px;
    display: flex;
}

.message .message-info>h5>i {
    font-size: 11px;
    font-weight: 700;
    margin-left: auto;
    margin-top: auto;
    color: #a2b8c5;
}

.message .message-info>h5 {
    color: #ffffff;
    margin-left: auto;
    margin-top: auto;
    font-size: 12px;
    float: right;
    padding-right: 10px;
    padding-left: 40px;
}

.message .message-info>h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 7px 13px 0 10px;
    color: #ffffff;
    float: left;
}

.message hr {
    margin: 4px 2%;
    width: 96%;
    opacity: 0.75;
}

.message .message-text {
    text-align: left;
    padding: 10px 13px 0px 13px;
    font-size: 14px;
}

.message.document {
    padding: 8px 15px;
    margin: 5px;
    background-color: #f5f5f0 !important;
    display: flex;
    align-items: center;
    min-width: 350px;
}
.message.document .documents-display{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 40px;
    color: #a6a6a6;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: inline-block;
    margin-right: 15px;
}

.message.document .documents-name {
    font-weight: 600;
    color: black;
    font-size: 14px;
}

.message.document .documents-date {
    font-size: 11px;
    color: #a6a6a6;
    display: block;
}

.message.my-message .message-body {
    float: right;
    margin: -13px 15px 20px 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.message.my-message .medium-image {
    float: right;
    margin-left: 5px;
    margin-right: 10px;
}

.message.my-message .message-info>h5 {
    float: left;
    padding-left: 40px;
    padding-right: 10px;
}

.message.my-message .message-info>h4 {
    float: right;
}

.message.info .message-body {
    background-color: #89C897;
    float: left;
    color: #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.message.info .message-info>h4,
.message.success .message-info>h4,
.message.warning .message-info>h4,
.message.danger .message-info>h4,
.message.dark .message-info>h4 {
    color: #fff;
}

.message.info .message-info>h5,
.message.info .message-info>h5>i,
.message.success .message-info>h5,
.message.success .message-info>h5>i,
.message.warning .message-info>h5,
.message.warning .message-info>h5>i,
.message.danger .message-info>h5,
.message.danger .message-info>h5>i,
.message.dark .message-info>h5,
.message.dark .message-info>h5>i {
    color: #fff;
    opacity: 0.9;
}

.message-place {
    padding: 0 !important;
    border-radius: 14px;
    background-color: #ffffff;
}

.chat-footer {
    display: flex;
    width: 100%;
    height: 86px;
    padding: 20px 8px 0px 8px;
    bottom: 0;
    position: absolute;
}

.form-control.chat-input {
    position: absolute;
    height: 50px;
    font-size: 16px;
    width: 92% !important;
    border-radius: 50px !important;
    padding: 0 20px;
    border: transparent;
    left: 15px;
}

.form-control.chat-input::placeholder {
    color: #a6a6a6;
}

.form-control.chat-input:focus {
    outline: none;
    box-shadow: none;
    border: transparent;
}

.chat-footer label.upload-file input[type="file"] {
    position: fixed;
    top: -1000px;
}

.chat-footer .upload-file {
    display: block;
    position: absolute;
    right: 150px;
    height: 30px;
    font-size: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.25;
}

.select-file-place-chat {
    margin-top: 5px;
}

.select-file-place-chat [type="file"]+label {
    border-radius: 4rem;
    color: #909090;
    border: none;
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    padding-left: 2rem 4rem;
    justify-content: center;
    align-items: center;
}

.video-call {
    margin-top: 10px;
}

.video-call button {
    color: grey;
    border: none;
}

.video-call button:focus {
    outline: none;
}

.fa.fa-video-camera:before {
    content: "\f03d"
}

.chat-footer .upload-file:hover {
    opacity: 1;
}

.chat-message .send-message-btn {
    position: absolute;
    right: 25px;
    height: 35px;
    border: transparent;
    background-size: 18px;
    background: transparent url(/img/send.png) no-repeat;
    background-size: contain;
    top: 33px;
    width: 20px;
}
.input-group-append .send-message-btn {
    position: absolute;
    right: 0px;
    height: 35px;
    border: transparent;
    background-size: 18px;
    background: transparent url(/img/send.png) no-repeat;
    top: 18px;
    width: 26px;
}

.input-group-append .send-message-btn:focus {
    outline: none;
}

.dropdown-toggle::after {
    color: transparent;
}

.dropdown-menu {
    border-radius: 10px;
}

.more-options {
    margin-top: 5px;
}

.more-options-btn img {
    width: 18px;
    margin-right: -25px;
    margin-bottom: 8px;
}

.contacts li>.info-combo,
.info-chat li>.info-combo {
    display: inline-block;
}

.new-history.chat-history {
    padding: 0 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.new-history.chat-history .message {
    width: auto !important;
    position: relative !important;
    max-width: 80% !important;
    margin: initial !important;
    margin-bottom: 10px !important;
    float: none !important;
}

.new-history.chat-history .message.other-message {
    align-self: flex-start;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    word-break: break-word
}

.new-history.chat-history .message.my-message {
    align-self: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    word-break: break-word;
}

.new-history.chat-history .message.my-message .pending-payment,
.new-history.chat-history .message.my-message .paid,
.new-history.chat-history .message.my-message .decline,
.new-history.chat-history .message.my-message .approved {
    float: right;
    font-size: 17px;
}

.new-history.chat-history .message.my-message .paid {
    float: right;
    font-size: 17px;
    width: 25%;
    height: 100%;
    background: #60996C;
    border-bottom-right-radius: 10px;
}

.new-history.chat-history .message.my-message .approved {
    float: right;
    font-size: 17px;
    width: 25%;
    height: 100%;
    background: #F0BA2B;
    border-bottom-right-radius: 10px;
}

.new-history.chat-history .message.my-message .decline {
    float: right;
    font-size: 17px;
    width: 25%;
    height: 100%;
    background: #E25A70;
    border-bottom-right-radius: 10px;
}

.new-history.chat-history .message.my-message .pending-approval {
    float: right;
    font-size: 17px;
    width: 25%;
    height: 100%;
    background: #5C3CC0;
    border-bottom-right-radius: 10px;
}

.new-history.chat-history .message.my-message .approved span {
    color: #ffffff;
    top: 45%;
    position: absolute;
    right: 7%;
    font-size: 18px;
}

.new-history.chat-history .message.my-message .paid span {
    color: #ffffff;
    top: 45%;
    position: absolute;
    right: 10%;
    font-size: 18px;
}

.new-history.chat-history .message.my-message .decline span {
    color: #ffffff;
    top: 45%;
    position: absolute;
    right: 8%;
    font-size: 18px;
}

.new-history.chat-history .message.my-message .pending-approval span {
    color: #ffffff;
    top: 45%;
    position: absolute;
    right: 4.5%;
    font-size: 18px;
    width: 15%;
    text-align: center;
}

.new-history.chat-history .message.my-message .pending-payment img,
.new-history.chat-history .message.my-message .pending-approval img,
.new-history.chat-history .message.my-message .paid img,
.new-history.chat-history .message.my-message .decline img {
    width: 30px;
    height: 30px;
    margin: 5px;
    top: 20%;
    position: absolute;
    left: 85%;
}

.new-history.chat-history .message.my-message .approved img {
    width: 30px;
    height: 30px;
    margin: 5px;
    top: 25%;
    position: absolute;
    left: 85%;
}

.new-history.chat-history .message.my-message .content {
    padding: 10px 0;
    margin: 10px;
}

.new-history.chat-history .message.my-message .request-left-side {
    width: 75%;
    display: inline-block;
    padding: 15px 15px 0 15px;
    border: 2px solid #9B8DF2;
    border-radius: 10px 0 0 10px;
    border-right: transparent;
}

.new-history.chat-history .pending-approval-buttons, .new-history.chat-history .paid-button,
.new-history.chat-history .approved-button {
    text-align: start;
    margin: -3px 0 20px 0;
}

.new-history.chat-history .pending-approval-buttons .approve-btn {
    margin: 0 5px;
    width: 134px;
    height: 40px;
    background: #60996C;
    color: #fff;
    border-radius: 28px;
    font-size: 13px;
    font-weight: 600;
    border: none;
}

.new-history.chat-history .pending-approval-buttons .decline-btn {
    margin: 0 5px;
    width: 134px;
    height: 40px;
    background: transparent;
    color: #E25A70;
    border: 2px solid #E25A70;
    border-radius: 28px;
    font-size: 13px;
    font-weight: 600;
}

.new-history.chat-history .pending-approval-buttons .update-btn {
    margin: 0 5px;
    width: 134px;
    height: 40px;
    background: transparent;
    color: #5C3CC0;
    border: 2px solid #5C3CC0;
    border-radius: 28px;
    font-size: 13px;
    font-weight: 600;
}

.new-history.chat-history .approved-button button {
    margin: 0 15px;
    width: 134px;
    height: 40px;
    background: #3B2483;
    color: #fff;
    border-radius: 28px;
    font-size: 13px;
    font-weight: 600;
    border: none;
}

.new-history.chat-history .paid-button button {
    margin: 0 15px;
    width: 134px;
    height: 40px;
    background: transparent;
    border: 2px solid #5C3CC0;
    color: #5C3CC0;
    border-radius: 28px;
    font-size: 13px;
    font-weight: 600;
}

.new-history.chat-history .request {
    font-size: 17px;
    margin: 0 10px;
    font-weight: 600;
}
/**************/


.chat .chat-history .messageDate {
    text-align: center;
    height: 26px;
    background: #f2f2f0;
    margin: 15px auto;
    border-radius: 50px;
    width: 180px;
    color: grey;
    padding: inherit;
    display: inline-block;
}

.tabPanel-widget {
    position: relative;
    /* containing block for headings (top:0) */
    padding: 5px;
    margin-top: -22px;
}

.tabPanel-widget>label {
    position: absolute;
    z-index: 1;
}

.tabPanel-widget>label,
.tabPanel-widget>h2 {
    font-size: 1.1em;
    width: 180px;
    height: 2em;
    line-height: 2em;
}

.tabPanel-widget>h2 {
    position: relative;
    margin: 0;
    text-align: center;
    color: black;
}

.tabPanel-widget>label~label,
.tabPanel-widget>h2~h2 {
    position: absolute;
    top: 0;
}

/*.tabPanel-widget label:nth-child(1),*/
/*.tabPanel-widget h2:nth-child(3) {*/
/*    width: 180px;*/
/*}*/

.tabPanel-widget label:nth-child(5),
.tabPanel-widget h2:nth-child(7) {
    left: 11.9em;
    top: 6px;
    max-width: 184px;
    width: 100%;
}

.tabPanel-widget label:nth-child(9),
.tabPanel-widget h2:nth-child(11) {
    left: 18em;
}

.tabPanel-widget input+h2+div {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.tabPanel-widget input:checked+h2+div {
    position: static !important;
    padding: 1em !important;
    height: 100% !important;
    width: auto !important;
    background: white;
    overflow-y: scroll;
}

.tabPanel-widget input:checked+h2+div::-webkit-scrollbar {
    width: 5px;

}

.tabPanel-widget input:checked+h2+div::-webkit-scrollbar-track {
    background: #F2F5F8;
}

.tabPanel-widget input:checked+h2+div::-webkit-scrollbar-thumb {
    background: #E1E1EA;
    border-radius: 22px;
}

.tabPanel-widget label:hover {
    cursor: pointer;
}

.tabPanel-widget h2:focus {
    border: none;
}

.tabPanel-widget>div {
    padding: 1em;
}

.tabPanel-widget input[name="tabs"] {
    opacity: 0;
    position: absolute;
}

.tabPanel-widget:hover h2 {
    outline: none !important;
}

.tabPanel-widget input[name="tabs"]:checked+h2 {
    background: white;
    color: black;
}

/*************************/

.tabPanel-widget .tab-content {
    color: white;
    padding: 5px 0;
    /* overflow-y: scroll;
    height: 100vh;
    max-height: 500px; */
}

.custom-tabs {
    position: relative;
    display: flex;
    margin: 0 auto;
    border: none;
}

.custom-tabs .item {
    color: black;
    font-weight: 600;
    text-align: center;
}

.nav-tabs .nav-item {
    width: 50%;
}

.custom-tabs li.active {
    background-color: white;
}

.documents .item {
    padding: 5px;
    margin: 5px;
    background-color: #f5f5f0;
    border-radius: 10px;
}

.documents .item .documents-display {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 40px;
    color: #a6a6a6;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: inline-block;
}

.documents .item .documents-name {
    font-weight: 600;
    padding: 0 0 0 15px;
    color: black;
    font-size: 14px;
}

.documents .item .documents-date {
    margin-left: 66px;
    font-size: 11px;
    color: #a6a6a6;
    margin-top: -10px;
    display: block;
}

.documents .item .download-btn {
    border: none;
    background: transparent;
    margin-left: auto;
    margin-top: -28px;
    display: block
}

.documents .item .download-btn:focus {
    border: none;
    outline: none;
}

.documents .item .download-btn img {
    width: 18px;
}

.orders {
    overflow-x: hidden;
}

.orders .item {
    width: 100%;
    padding: 10px;
    margin: 5px;
    transition: transform .1s;
}

.orders .item:hover {
    background-color: #ededf8;
    border-radius: 10px;
}

.orders .item .orders-name {
    font-weight: 600;
    padding: 0 0 0 15px;
    color: black;
    font-size: 14px;
    display: block;
}

.orders .item .orders-date {
    margin-left: 16px;
    font-size: 11px;
    color: #a6a6a6;
}

.orders .item .orders-price {
    font-size: 11px;
    color: #a6a6a6;
    float: right;
    margin-top: 4px;
}
.orders-link:hover {
    text-decoration: none;
}

/*Blank Chat page style*/
.message-place .select-chat {
    display: flex;
    position: relative;
    top: 50%;
}

.message-place .select-chat h6 {
    margin: auto;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px;
    font-size: 16px;
}

.ordersModal .orders-header,
.paymentCardModal .paymentCard-header {
    border: none;
    margin: 20px auto;
    color: #292C49;
}

.ordersModal .orders-content,
.paymentCardModal .paymentCard-content {
    border-radius: 14px;
    top: -35px;
}

.ordersModal .orders-title,
.paymentCardModal .paymentCard-title {
    font-weight: 900;
}

.ordersModal .close,
.paymentCardModal .close {
    position: absolute;
    right: -20px;
    top: -3px;
    font-size: 28px;
    color: #fff;
    opacity: 1;
    font-weight: 100;
}

.ordersModal .close:focus,
.paymentCardModal .close:focus {
    outline: none;
}

.ordersModal .orders-modal {
    list-style: none;
    margin-left: -20px;
    color: #9D9DB1;
    margin-top: -10px;
}

.ordersModal .orders-modal .item {
    font-size: 15px;
    padding: 10px;
}

.modal-open .background-blur {
    filter: blur(3px);
}

.paymentCardModal .paymentCard-footer {
    border: none;
}

.paymentCardModal .paymentCard-footer button {
    width: 90px;
    font-weight: 600;
}

.custom-tabs {
    position: relative;
}

.custom-tabs .custom-item {
    margin-right: 15px;
}

.custom-tabs .custom-item .link {
    background-color: transparent !important;
    color: #9d9db1 !important;
    border-radius: 0 !important;
    border-bottom: 2px solid transparent;
    padding: 0.2rem 0;
    font-size: 0.765rem;
    font-weight: 800;
    padding-bottom: 0;
}

.custom-tabs .custom-item .link.active {
    border-color: #8dc899;
    color: #292c49 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    border-bottom: 2px solid transparent;
    font-size: 17px;
    font-weight: 800;
    padding: .2rem 0 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8dc899;
    color: black;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
}

.new-invoice {
    position: absolute;
    height: 380px;
    width: 100%;
    background: #e6e6e6;
    overflow-y: hidden;
    overflow-x: hidden;
    bottom: 0;
    padding-bottom: 15px;
    border-radius: 15px;
    transition: opacity 1s ease-in-out;
}

.new-invoice::-webkit-scrollbar,
.tabPanel-widget .tab-content::-webkit-scrollbar {
    width: 5px;

}

.new-invoice::-webkit-scrollbar-track,
.tabPanel-widget .tab-content::-webkit-scrollbar-track {
    background: #F2F5F8;
}

.new-invoice::-webkit-scrollbar-thumb,
.tabPanel-widget .tab-content::-webkit-scrollbar-thumb {
    background: #E1E1EA;
    border-radius: 22px;
}

.new-invoice .invoice-header {
    background: #f2f2f2;
    display: flex;
    height: 10%;
}

.new-invoice .invoice-header .invoice-title {
    padding: 9px 15px;
    color: grey;
    font-weight: 700;
    font-size: 16px;
}

.new-invoice .close-button {
    position: absolute;
    top: 5px;
    right: 15px;
}

.new-invoice .invoice-body .custom-label {
    padding: 15px;
    color: grey;
    font-size: 15px;
    width: 120px;
    margin-right: -4px;
}

.new-invoice .invoice-body .custom-input,
.new-invoice .invoice-body .type-custom {
    width: 100%;
    color: grey;
    padding: 5px;
    border: white;
}

.new-invoice .invoice-body .edit-type-custom {
    width: 100%;
    color: grey;
    padding: 5px;
    border: white;
}

.new-invoice .invoice-body .padding {
    /*margin: 0 10px;*/
}

.new-invoice .invoice-body .unit {
    width: 200px;
    color: grey;
    padding: 5px;
    border: white;
}

.new-invoice .invoice-body .unit:focus,
.new-invoice .invoice-body .fixed-cost:focus,
.new-invoice .invoice-body .edit-fixed-cost:focus,
.new-invoice .invoice-body .time-cost:focus,
.new-invoice .invoice-body .edit-time-cost:focus,
.new-invoice .invoice-body .type-custom:focus,
.new-invoice .invoice-body .edit-type-custom:focus,
.new-invoice .invoice-body .amount:focus,
.new-invoice .invoice-body .custom-input:focus,
.new-invoice .invoice-body .clone-invoice .invoice-clone-btn:focus,
.new-invoice .invoice-body .total:focus,
.new-invoice .invoice-body .invoice-tax .tax:focus,
.new-invoice .close-button:focus,
.new-invoice .invoice-body .send-btn:focus {
    border: none;
    outline: none;
}

.new-invoice .invoice-body .fixed-cost,
.new-invoice .invoice-body .edit-fixed-cost,
.new-invoice .invoice-body .time-cost,
.new-invoice .invoice-body .edit-time-cost,
.new-invoice .invoice-body .amount,
.new-invoice .invoice-body .total,
.new-invoice .invoice-body .invoice-final-total .final-total {
    width: 100px;
    color: grey;
    padding: 5px;
    border: white;
    background-color: white;
    padding-left: 35px;
    background-position: left;
}

.new-invoice .invoice-body .clone-invoice .invoice-clone-btn {
    border: transparent;
    background: transparent;
    text-decoration: underline;
    text-decoration-color: #715eed;
    color: #715eed;
    padding-left: 15px;
    display: inline-block;
    cursor: pointer;
}

.new-invoice .invoice-body .clone-invoice .invoice-clone-btn:hover {
    color: #3519e6;
}

.new-invoice .invoice-body .fixed-Cost .time-cost,
.new-invoice .invoice-body .Amount {
    position: relative;
}

.new-invoice .invoice-body .edit-fixed-Cost .time-cost,
.new-invoice .invoice-body .Amount {
    position: relative;
}

.new-invoice .invoice-body .edit-fixed-Cost .edit-time-cost,
.new-invoice .invoice-body .Amount {
    position: relative;
}

.new-invoice .invoice-body .fixed-Cost .pound,
.new-invoice .invoice-body .Amount .pound {
    position: absolute;
    color: grey;
    right: 100px;
    top: 37px;
    left: 30px;
    font-size: 14px;
}

.new-invoice .invoice-body .edit-fixed-Cost .pound,
.new-invoice .invoice-body .Amount .pound {
    position: absolute;
    color: grey;
    right: 100px;
    top: 37px;
    left: 30px;
    font-size: 14px;
}

.new-invoice .invoice-body .invoice-total {
    margin-left: 9px;
    position: relative;
    display: flex;
}

.new-invoice .invoice-body .invoice-final-total {
    display: inline-block;
    float: right;
    top: 30px;
}

.new-invoice .invoice-body .invoice-total .pound {
    position: absolute;
    color: grey;
    right: 91px;
    top: 7px;
    font-size: 14px;
}

.new-invoice .invoice-body .invoice-final-total .pound {
    position: absolute;
    color: grey;
    left: 137px;
    top: 8px;
    font-size: 14px;
}

.final-total .pound {
    position: absolute;
    color: grey;
    left: 137px;
    top: 8px;
    font-size: 14px;
}

.new-invoice .invoice-body .invoice-tax {
    float: right;
    top: 6px;
    margin-right: -84px;
}

.new-invoice .invoice-body .invoice-tax .question-mark {
    width: 15px;
    margin-right: 24px;
}

.new-invoice .invoice-body .invoice-tax .tax {
    width: 80px;
    border: none;
    color: grey;
    padding: 10px;
    margin-top: 10px;
}

.new-invoice .invoice-body .invoice-tax .percentage {
    color: grey;
    margin-right: 20px;
    font-weight: 900;
}

.new-invoice .invoice-body .clone-remove {
    margin-top: 35px;
    color: grey;
    cursor: pointer;
}

.new-invoice .invoice-body .clone-remove .close-icon {
    margin-right: -10px;
}

.new-invoice .invoice-body .send-btn,
.edit-invoice-action .invoice-body .edit-invoice-btn {
    position: relative;
    /* right: 30px;
    margin-top: 150px; */
    width: 90px;
    background: #89C897;
    color: white;
    border: none;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    margin-right: 20px;
}

.new-invoice .invoice-body .send-btn:hover,
.edit-invoice-action .invoice-body .edit-invoice-btn:hover {
    background: #52ad65;
}

.new-invoice .invoice-body .pay-btn {
    position: absolute;
    right: 30px;
    margin-top: 150px;
    width: 90px;
    color: white;
    border: none;
    font-weight: 600;
    margin-bottom: 40px;
}

.new-invoice .invoice-body .pay-btn:hover {
    background: #9299a0;
}

#cloneNewInvoice {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.h-100 {
    height: 100%;
}

.m-info-container .info-chat {
    height: 230px;
    display: block;
}

.m-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.m-info-container .tabPanel-widget {
    height: calc(100% - 230px);
    overflow: hidden;
}

.m-info-container .tabPanel-widget .tab-content,
.m-info-container .tabPanel-widget .tab-pane {
    height: 100%;
}

.m-info-container .tabPanel-widget .tab-pane {
    padding-bottom: 10px;
}

.m-info-container .tabPanel-widget .tab-content ul {
    height: 100%;
    overflow-y: auto;
}

.m-info-container .tabPanel-widget .tab-content {
    height: 100%;
}

.m-info-container .info-combo h3 {
    margin-bottom: 13px !important;
}

.m-info-container .info-combo h5 {
    margin: 0 0 10px;
    width: auto !important;
    height: auto !important;
}

.no-margin {
    margin: 0;
}

.new-invoice .scrollable-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 75%;
}

.invoice-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-final-total {
    display: flex;
    left: 32px;
}

.custom-row {
    margin-right: 120px;
}

.custom-edit-row {
    margin-right: -7px;
}

.custom-pound {
    right: 78px !important;
}

.custom-pound-total {
    left: 143px !important;
    top: 4px !important;
}

.new-history.chat-history .message.invoice-bubble-box {
    width: 700px !important;
    max-width: 100% !important;
    background: transparent;
    color: #3B2483;
    padding: 0;
}


.fixed-cost:focus::placeholder,.time-cost:focus::placeholder,.edit-time-cost:focus::placeholder,.total:focus::placeholder, .tax:focus::placeholder, .edit-fixed-coast:focus::placeholder {
    opacity: 0;
}

@media (max-width: 1600px) {
    .new-invoice .invoice-body .invoice-total {
        left: 1%;
    }
    .row-custom {
        margin-right: -27px !important;
    }
}

@media (max-width: 1400px) {
    .new-invoice .invoice-body .invoice-total {
        left: 1.5%;
    }
    .row-custom {
        margin-right: -38px !important;
    }
}

@media (max-width: 1200px) {
    .new-invoice .invoice-body .invoice-total {
        left: 0%;
    }
    .new-invoice .invoice-body .fixed-cost,.edit-time-cost, .time-cost,.new-invoice .invoice-body .amount,
    .new-invoice .invoice-body .total,
    .new-invoice .invoice-body .invoice-final-total .final-total {
        width: 80px;
    }
    .row-custom {
        margin-right: -45px !important;
    }
    .new-invoice .invoice-body .invoice-total .pound {
        right: 75px;
    }
    .final-total .pound {
        left: 142px;
    }
    .new-invoice .invoice-body .fixed-Cost .pound, .new-invoice .invoice-body .Amount .pound {
        left: 26px;
    }
}
